*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: #787685;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes effect {
    100%{
        transform: scale(7);
        opacity: 0.01;
    }
}

body {
    height: 100vh;
    width: 100vw;
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    background: url("../img/background_web.jpg") no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.invisible {
    display: none !important;
}

/* Ripple */
.ripple{
    width: 10px;
    height: 10px;
    background: transparent;
    position: fixed;
    border-radius: 50%;
    animation: effect 0.5s linear;
    border: 1px solid rgba(255, 255, 255);
    pointer-events: none;
}

/* Navbar */

.nav {
    list-style-type: none;
    position: relative;
    height: 50px;
    left: 0px;
    top: 0px;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: radial-gradient(100% 9916.67% at 0.83% 0%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.nav .nav-item {
    display: inline-block;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.nav #right-item {
    width: 210px;
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}

.nav #right-item a:hover {
    filter: brightness(95%);
}

.nav #center-item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
}

.nav #left-item {
    float: left;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav #left-item .toggle-btn {
    font-size: 34px;
    cursor: pointer;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.nav #left-item .toggle-btn:hover {
    filter: brightness(95%);
}

/* To do list */
.toDoList {
    position: absolute;
    top: 100%;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    color: var(--gray);
    animation: fadein 0.3s;
}

.toDoList .heading {
    padding: 4px 16px;
    line-height: 1.5;
    /* font-weight: 600; */
    font-size: 20px;
    /* color: #FFFFFF; */
    /* text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); */
}

.toDoList .task-list {
    max-height: 180px;
    list-style-type: none;
    background-color: transparent;
    overflow: auto;
}

.toDoList .task-list::-webkit-scrollbar-track {
	border-radius: 1px;
}
.toDoList .task-list::-webkit-scrollbar {
	width: 2px;
}
.toDoList .task-list::-webkit-scrollbar-thumb {
	border-radius: 1px;
	background-color: rgb(153, 153, 153);
}


.toDoList .task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    font-size: 16px;
    /* font-weight: 600; */
}

.toDoList .task-item i {
    font-size: 20px;
    cursor: pointer;
}

.toDoList .task-item .fa-times {
    display: none;
    animation: fadein 0.5s;
}

.toDoList .task-item:hover .fa-times {
    display: block;
}

.toDoList .task-text {
    flex: 1;
    padding: 0 8px;
}

.toDoList .task-text-checked {
    text-decoration: line-through;
}

.toDoList .add-to-do {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 16px;
    /* font-weight: 600; */
    color: var(--gray);
    background-color: transparent;
}


/* Title */
.title{
    pointer-events: none;
    width:100%;
    position: absolute;
    top: 68px;
    font-weight: 600;
    text-align: center;
    font-size: 66px;
    color: #FFFFFF;
}

/* Timer */
.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 35px;

}

.time-state {  
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#t-state {
    position: relative;
    top: 10px;
    font-size: 24px;
    color: #2F41A0;
}

#t-state:hover {
    cursor: pointer;
    color: #FFFFFF;
}

#time {
    position: relative;
    top: 5px;
    font-size: 90px;
    color: #FFFFFF;
}

.time_control {
    position: relative;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 168px;
    background-color: rgba(255, 255, 255, 0.8);
    border: #FFFFFF;
    border-radius: 60px;
    display: block;
    align-items: center;

    padding: 11px 30px 13px 30px;
    color: #2F41A0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;

}

#time:hover, #time:active {
    cursor: pointer;
    color: #2F41A0;
}

.time_control:hover, .time_control:active {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #2F41A0;
}

.cf_modal {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.43);
}

#cf-restart {
    display: none;
}

#timer-settings {
    display: none;
}

.modal_content {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 535px;
    height: 203px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal_header {
    color: #2F41A0;
    font-size: 30px;
    font-weight: bold;
}

.modal_header p {
    padding: 22px 18px 16px 18px;
}

#settings {
    width: 424px;
    height: 480px;
}

#settings hr {
    margin: 19px 0px 19px 0px;
    width: 388px;
    color: #ABA9BB;
}

#settings #first-line {
    margin: 0px 18px 14px 18px;
}

.time-settings div {
    float: left;
    margin-bottom: 19px;
}

.time-settings input, .nums-long-breaks input {
    width: 116px;
    height: 42px;
    margin: 5px 20px 0px 0px;
    font-size: 24px;
    padding-left: 14px;
    background-color: #EFEFEF;
    border: none;
    border-radius: 8px;
    color: #555555;
}

.time-settings label {
    font-size: 18px;
    font-weight: bold;
    color: #bbbbbb;
}

.time-settings #long-break {
    margin-right: 0;
}

.nums-long-breaks input {
    margin: 0;
    width: 100px;
    float: right;    
}

.auto-but input {
    width: 28px;
    height: 28px;
    float: right;
}

.close {
    float: right;
    padding: 0px 19px 0px 19px;
}

.close:hover, .close:active {
    cursor: pointer;
    color: #777586;
}

#settings-body p, #settings-body span {
    padding-top: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #2F384F;
    margin-bottom: 12px;
}

#settings-body div {
    margin-bottom: 19px;
}

.modal_body {
    font-size: 20px;
    margin: 0px 18px;
    color: #2F384F;
}

.modal_footer button{
    height: 42px;
    width: 120px;
    float: right;
    margin: 20px 18px;
    border: none;
    border-radius: 60px;

    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    border: 1px solid #2F384F;
    background-color: #FFFFFF;
    color: #2F384F;
}

#cancel {
    margin-right: 0px;
}

.modal_footer button:hover, .modal_footer button:active {
    cursor: pointer;
    background-color: #2F384F;
    color: #FFFFFF;
}

.cf_modal:hover {
    cursor: pointer;
}


/* Quote */


/* Radio */
.radio {
    position: absolute;
    height: 70px;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #E5E6F8;
}

.radio input[type="range"] {
	-webkit-appearance: none;
	outline: none;
	height: 6px;
    border-radius: 6px;
    background: #CFD8E5;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
}
.radio input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
	height: 14px;
	width: 14px;
    background: #444655;
	border-radius: 50%;
	cursor: pointer;
}

.radio button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.radio #song_img {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    width: 54px;
    height: 54px;
    border-radius: 2px;
    pointer-events: none;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.radio .song_decs {
    position: absolute;
    left: 90px;
    top: 6px;
}

.radio .song_decs .radio_title {
    font-size: 20px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.radio .song_decs .artist {
    font-size: 14px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.radio .song_duration {
    position: absolute;
    bottom: 0px;
    left: 90px;
    height: 24px;
    width: 80%;
}

.radio #duration_slider {
    width: 100%;
}

.radio .song_control {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 200px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio #pre_song, .radio #next_song {
    font-size: 26px;
    color: var(--gray);
}

.radio #play_pause {
    font-size: 46px;
    color: var(--gray);
}

.radio .volume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 180px;
    transform: translateY(-60%);
}

.radio .volume i {
    font-size: 26px;
    color: var(--gray);
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 820px) {
    body {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    body {
        display: none;
    }
}